body {
  overflow-x: hidden;
}

.header {
  width: 100%
}

main {
  width: 100%;
}

h1, p {
  text-align: center;
}

.magazine-text {
  padding: 3% 0;
}

.magazine-img {
  width: 100%;
  display: flex;
  /* 水平方向に子要素を中央寄せ */
  justify-content: center;
  /* 垂直方向に子要素を中央寄せ */
  align-items: center;
}

.article {
  padding: 3%;
  justify-items: center;
  display: grid;
  /* 要素自身の元の位置が起点となる(相対値：要素の元の位置が基準)*/
  position: relative;
}

.context {
  border: 1px solid #00000080;
  width: 290px;
  background-color: #00000080;
  color: #fff;
  text-align: center;
  /* 親の要素を基準として絶対値を取る(絶対値：全体（ページ左上端）が基準)*/
  position: absolute;
  transform: translate(0%,180%);
}

.title {
  font-weight: 800;
  font-size: 20px;
}

button {
  align-content: center;
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid;
  margin: 1rem 0 2rem 0;
}

.pc {
  position: relative;
}

.pc-text {
  display: grid;
  justify-items: center;
  position: absolute;
  transform: translate(70%,-200%);
}

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 100%;
}

.catalog-text {
  width: 40%;
  margin: 0 20px ;
  display: grid;
  justify-items: center;
}

.catalog-img {
  width: 40%;
  margin: 0 20px ;
}

.footer {
  display: flex;
  background-color: #333333;
  color: #fff;
  /* evenly:均等（要素の外側にもスペース用意される）、between:間 */
  justify-content: space-evenly;
  padding: 5%;
}

.footer-title {
  align-self: center;
}

li {
  list-style: none;
}

.footer h1, .footer p{
  text-align: start;
}
